/* CSS placeholders Will focus on thie later */

header {}

body {
  background: red;
}

main {}

section {}
nav{
     display: flex; /* Will try with flexbox from lesson 10 */
  gap: 20px; /* this will decide the space between the buttons in the navigation */
  list-style: none; /* Can remember what whis does... */
  padding: 0; /*first "box" after the content */

  justify-content: center; /* center the items on a horizontall line. Don't know if this will be good on a phone... */
}

footer{}

.signup-form {
}

.form-field {
}

.form-actions {
}

/* COMPONENTS */
.event-section {
  padding: 20px;
}
