/* CSS placeholders Will focus on thie later */

header {}

body {}

main {}

section {}

nav ul { /* ul makes it target the list inside nav*/
     display: flex; /* Will try with flexbox from lesson 10 */
  gap: 20px; /* this will decide the space between the buttons in the navigation */
  list-style: none; /* Can remember what whis does... */
  padding: 0; /*first "box" after the content */

  justify-content: center; /* center the items on a horizontall line. Don't know if this will be good on a phone... */
}
nav a { /*  to control and remove default web browser link properties */
  text-decoration: none; /* Removes underline */
  color: inherit;        /* Uses same color as parent instead of blue */
    padding: 16px 32px;    /* Creates space inside each link (like a button) will try to find a guide for a size */
  /* border-radius:  px ; */    /* Slightly rounded corners feels modern and boring, might go for a classic vintage html look */
  background: #333;      /* Dark background */
  color: gold;          /* Gold, will go for black and gold theme for now text */
}
footer{}

.signup-form {
}

.form-field {
}

.form-actions {
}

/* COMPONENTS */
.event-section {
  padding: 20px;
}
